.videoContainer {
  height: 100%;

  .video {
    height: 100%;
    width: 100%;
    object-fit: contain;
    outline: none;
  }

  .playbackAnimation {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  .videoControls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 12px 0;
    background-color: rgba(0, 0, 0, .6);


    .videoProgress {
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      // padding: 0 12px;
      margin: 0 12px;
      position: relative;
      height: 8.4px;
      margin-bottom: 10px;

      progress {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 2px;
        width: 100%;
        height: 8.4px;
        pointer-events: none;
        position: absolute;
        top: 0;

        &::-webkit-progress-bar {
          background-color: #474545;
          border-radius: 2px;
        }

        &::-webkit-progress-value {
          background: #ffffff;
          border-radius: 2px;
        }

        &::-moz-progress-bar {
          border: 1px solid #ffffff;
          background: #ffffff;
        }
      }

      input {
        height: 8.4px;
        background: transparent;
        cursor: pointer;
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
      }
    }

    .bottomControls {
      // pointer-events: ;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 12px;

      .controlItem {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

      }

      .volumeControl {
        display: flex;
        align-items: center;


        .volume {
          -webkit-appearance: none;
          cursor: pointer;
          height: 5px;
          background-color: #fff;

          &::-webkit-slider-runnable-track {
            background-color: transparent;
          }

          &::-webkit-slider-thumb {
            margin-left: 0;
            height: 14px;
            width: 14px;
            background: #fff;
          }

          &::-moz-range-thumb {
            border: 1px solid #fff;
            background: #fff;
          }
        }
      }

      .time {
        color: #ffffff;
        font-size: 16px;
        margin-left: 12px;
      }
    }
  }
}

.block {
  display: flex;
  align-items: center;
}