.container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  overflow: hidden;
}

.videoBox {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #1a1a1a;

  .roomInfo {
    height: 80px;
    flex-shrink: 0;
  }

  .roomPlayer {
    flex: 1;
    height: calc(100vh - 160px);
    position: relative;

    .highlightCommentBox {
      height: 40%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: end;

      marquee {
        width: 100%;
        font-size: 22px;
        color: red;
        position: absolute;
        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
          1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
      }
    }
  }

  .giftShop {
    height: 80px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    button {
      width: 100px;
      height: 35px;
      cursor: pointer;
      font-weight: 600;
      background-color: #ffffff;
      border-radius: 4px;
      border: unset;
      color: #401a00;

      &.active {
        background-color: #f0bd30;
      }
    }
  }
}