.chatBox {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    z-index: 2;
    position: relative;

    .loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chatContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow: auto;
        padding: 12px;

        .comment {
            padding: 8px;
            display: flex;
            gap: 8px;
            box-shadow: 0 0 10px #0000001a;
            border-radius: 8px;

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #ddd;
                flex-shrink: 0;
            }

            .content {
                display: flex;
                flex-direction: column;

                gap: 4px;

                label {
                    font-weight: 500;
                    color: dimgrey;
                    font-size: 12px;
                }

                span {
                    color: dimgrey;
                }
            }
        }
    }

    .sendBox {
        height: 40px;
        padding: 12px;
        flex-shrink: 0;
        border-top: 1px solid #ddd;

        form {
            display: flex;
            gap: 6px;
            // margin-bottom: 12px;
        }


        input {
            flex: 1;
            border-radius: 4px;
            border: 1px solid #ddd;
            background-color: white;
            padding: 6px;
            box-sizing: border-box;
            outline: none;
            height: 40px;

            &:focus-visible,
            &:focus {
                border: 1px solid #f0bd30;
            }
        }

        button {
            width: 60px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f0bd30;
            border-radius: 4px;
            border: unset;
            color: #401a00;
            cursor: pointer;
        }
    }
}